<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="UUID">
    <th mat-header-cell *matHeaderCellDef> UUID </th>
    <td mat-cell *matCellDef="let element"> {{element.UUID}} </td>
  </ng-container>

  <ng-container matColumnDef="CREATED_AT">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.CREATED_AT | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="SYMBOL">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.SYMBOL}} </td>
  </ng-container>

  <ng-container matColumnDef="ACCOUNT_ID">
    <th mat-header-cell *matHeaderCellDef> Account </th>
    <td mat-cell *matCellDef="let element"> {{element.ACCOUNT_ID}} </td>
  </ng-container>

  <ng-container matColumnDef="ROUTE">
    <th mat-header-cell *matHeaderCellDef> Route </th>
    <td mat-cell *matCellDef="let element"> {{element.ROUTE}} </td>
  </ng-container>

  <ng-container matColumnDef="FILL_PRICE">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.FILL_PRICE}} </td>
  </ng-container>

  <ng-container matColumnDef="QUANTITY">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.QUANTITY}} </td>
  </ng-container>

  <ng-container matColumnDef="CLOSED">
    <th mat-header-cell *matHeaderCellDef> Closed </th>
    <td mat-cell *matCellDef="let element"> {{element.CLOSED}} </td>
  </ng-container>

  <ng-container matColumnDef="VERSION">
    <th mat-header-cell *matHeaderCellDef> Version </th>
    <td mat-cell *matCellDef="let element"> {{element.VERSION}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
               [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator>
